* {
  margin: 0;
  padding: 0;
}

.container {
  width: 100vw;
  height: 100vh;
  background-color: #3346ad;
  background-image: linear-gradient(
    43deg,
    #3346ad 0%,
    #c850c0 76%,
    #ffcc70 100%
  );

  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.card {
  width: 350px;
  height: 470px;
  background-color: whitesmoke;
  border-radius: 15px;

  text-align: center;

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.card img {
  width: 100%;
  height: 150px;
  border-top-right-radius: 15px;
  border-top-left-radius: 15px;
}

.amountBox {
  width: 80%;
  height: 10%;
  border-radius: 10px;

  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-right: 15px;
  padding-left: 15px;
}

.leftBox {
  height: 100%;
  gap: 10px;
  display: flex;
  align-items: center;
}

.imgBox img {
  height: 3.5rem;
  width: 3.5rem;
}
#paymentButton {
  width: 80%;
  height: 9%;
  border: none;
  background-color: rgb(33, 33, 48);
  color: white;
  border-radius: 10px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px,
    rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}

.cancelBox a {
  text-decoration: none;
  font-weight: bold;
  font-size: large;
  color: rgb(33, 33, 48);
}
